body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
}
header {
  background-color: #003366; /* Teinte de bleu foncé professionnel */
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 30px;
}
h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}
nav {
  background-color: #003366; /* Teinte de bleu foncé professionnel */
  padding: 10px;
  margin-bottom: 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.services, .contact, .news, .gallery-container, .blog-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
.gallery-container, .blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.gallery-item, .blog-post {
  overflow: hidden;
  transition: transform 0.3s ease;
}
.gallery-item:hover, .blog-post:hover {
  transform: scale(1.05);
}
.gallery-item img, .blog-post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
}
.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.filter-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.filter-button:hover {
  background-color: #555;
}
.filter-button.active {
  background-color: #003366; /* Teinte de bleu foncé professionnel */
}
.footer {
  text-align: center;
  padding: 20px 0;
  background-color: #003366; /* Teinte de bleu foncé professionnel */
  color: #fff;
  margin-top: 30px;
}
.service-icon {
  width: 30px; /* Réduire la taille de l'icône */
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
}
